<div class="row g-3">
  <h4 style="padding: 7px; text-align: center;">Donnes personnel</h4>
  <div class="col-sm-6">
    <label for="firstName" class="form-label">Nom :</label>
    <input type="text" class="form-control" id="firstName" name="vnom" disabled value="Mohamed" required>
    
  </div>

  <div class="col-sm-6">
    <label for="lastName" class="form-label">Prenom :</label>
    <input type="text" class="form-control" id="lastName" disabled value="boulakboud" required>
    
  </div>
  <div class="col-sm-6">
    <label for="cin" class="form-label">Numero du carte CIN ou passeport :</label>
    <input type="text" class="form-control" id="cin" disabled value=" CI1234" required>
    
  </div>
  <div class="col-sm-6">
    <label for="permit" class="form-label">Numero du permit conduite</label>
    <input type="text" class="form-control" id="permit" disabled value="A1234/14" required>
    
  </div>
  <div class="col-sm-6">
    <label for="naissance" class="form-label">Date du naissance:</label>
    <input type="date" class="form-control" id="naissance" disabled value="" required>
    
  </div>
  <div class="col-sm-6">
    <label for="delevrence" class="form-label">Date delevrence permit</label>
    <input type="date" class="form-control" id="delevrence" disabled value="" required>
    
  </div>

  <div class="col-12">
    <label for="E-mail" class="form-label">E-mail</label>
    <div class="input-group has-validation">
      <span class="input-group-text">@</span>
      <input type="text" class="form-control" id="E-mail" disabled value="example@gamil.com" required>
   
    </div>
  </div>
  <div class="col-12">
    <label for="phone" class="form-label">Numero  du telephone:</label>
    <div class="input-group has-validation">
      <span class="input-group-text"><i class="fa-solid fa-phone"></i></span>
      <input type="text" class="form-control" id="phone" placeholder="+212 608428603" disabled required>
    
    </div>
  </div>

  <div class="col-12">
    <label for="address" class="form-label">Address</label>
    <input type="text" class="form-control" id="address" disabled  required>
    
  </div>

  <div class="col-12">
    <label for="address2" class="form-label">Address 2 <span class="text-muted">(Optional)</span></label>
    <input type="text" class="form-control" id="address2" disabled >
  </div>

 <div class="col-md-5">
    <label for="country" class="form-label">Paye :</label>
    <input type="text" class="form-control" id="address2" disabled placeholder="MORROCO">
 </div>
 <h4 style="padding: 7px; text-align: center;">Donnes du voiture</h4>
 
</div>