{% extends 'base.html' %}
{% load static %}
{% block reservation %}
<!DOCTYPE html>
<html lang="en">
<head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>reservation</title>
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
            
            <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
            
           
            <script src="{% static 'js/jquery.min.js' %}"></script>
           <style>
         
              
              
           </style>
  
 
   
<body>
  
            <div class="container">
              <main>
                <div class="row justify-content-center">
                  
                  <div class="col-md-7 col-lg-8" style="margin-top: 30px;">
                    <h4 style="text-align: center; font-weight: bold;">Créez Votre Compte & Louez Votre Voiture</h4>
                    <form method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      {{ user_form.as_p }}
                      {{ client_form.as_p }}
                      <button type="submit" class="btn btn-outline-success w-100">Register</button>
                  </form>
                    
                  </div>
                </div>
              </main>
            </div>
          
          <script>
          var myInput = document.getElementById("psw");
          var letter = document.getElementById("letter");
          var capital = document.getElementById("capital");
          var number = document.getElementById("number");
          var length = document.getElementById("length");
          
          // When the user clicks on the password field, show the message box
          myInput.onfocus = function() {
            document.getElementById("message").style.display = "block";
          }
          
          // When the user clicks outside of the password field, hide the message box
          myInput.onblur = function() {
            document.getElementById("message").style.display = "none";
          }
          
          // When the user starts to type something inside the password field
          myInput.onkeyup = function() {
            // Validate lowercase letters
            var lowerCaseLetters = /[a-z]/g;
            if(myInput.value.match(lowerCaseLetters)) {  
              letter.classList.remove("invalid");
              letter.classList.add("valid");
            } else {
              letter.classList.remove("valid");
              letter.classList.add("invalid");
            }
            
            // Validate capital letters
            var upperCaseLetters = /[A-Z]/g;
            if(myInput.value.match(upperCaseLetters)) {  
              capital.classList.remove("invalid");
              capital.classList.add("valid");
            } else {
              capital.classList.remove("valid");
              capital.classList.add("invalid");
            }
          
            // Validate numbers
            var numbers = /[0-9]/g;
            if(myInput.value.match(numbers)) {  
              number.classList.remove("invalid");
              number.classList.add("valid");
            } else {
              number.classList.remove("valid");
              number.classList.add("invalid");
            }
            
            // Validate length
            if(myInput.value.length >= 8) {
              length.classList.remove("invalid");
              length.classList.add("valid");
            } else {
              length.classList.remove("valid");
              length.classList.add("invalid");
            }
          }
          let psw1=document.getElementById('psw1');
          let correct=document.getElementById('correct');
          let incorrect=document.getElementById('incorrect');
          
          psw1.onkeyup=function(){
            
            if(psw1.value==myInput.value){
              correct.classList.remove('correct1')
              correct.classList.add('correct')
              incorrect.classList.add('incorrect1')
              incorrect.classList.remove('incorrect')
            }
            else{
              correct.classList.add('correct1')
              correct.classList.remove('correct')
              incorrect.classList.remove('incorrect1')
              incorrect.classList.add('incorrect')
            }
            
          }
          let buttonvalid=document.getElementById('validebtn')
          let age=document.getElementById('age')
          let naissance=document.getElementById('naissance')
          let year=new Date(naissance.innerHTML).getFullYear()
          
          let year_now=new Date().getFullYear()
          let agevalide= year_now-year
          buttonvalid.onclick=function(){
            if(agevalide<20){
              age.style.cssText="display: block;"
            }
          }
          var datecharge=document.getElementById('encharge');
          var datedepot=document.getElementById('depot');
          var btn_cata=document.getElementById('btn-cata')
          btn_cata.onclick=function(){
            var encharge=datecharge.value
            var depot= datedepot.value
            localStorage.setItem('dateencharge',encharge)
            localStorage.setItem('datedepot',depot)
            var number_jour=(new Date(depot)- new Date(encharge))/1000/60/60/24
            var number_jour_int=Math.round(number_jour)
            
            localStorage.setItem('number_jour_int',number_jour_int)
          }
          
          /*function calculejour(){
            
            var encharge=datecharge.value
            var depot= datedepot.value
            
            number_jour=(new Date(depot)- new Date(encharge))/1000/60/60/24
            number_jour_int=Math.round(number_jour)
            return encharge
          }*/
          
          window.onload=function(){
            var prix=localStorage.getItem('prix')
            var matricule=localStorage.getItem('matricule')
            var jours=localStorage.getItem('number_jour_int')
            datecharge.value=localStorage.getItem('dateencharge')
            datedepot.value=localStorage.getItem('datedepot')
            var total=prix*jours
            var voiture_reser=document.getElementById('voitureselectionee');
            var total_jour=document.getElementById('total');
            voiture_reser.value=matricule
            total_jour.value=total
          }
          var validebtn=document.getElementById('validebtn')
          validebtn.onclick=function(){
            localStorage.clear()
          }
          /*document.addEventListener("DOMContentLoaded", function() {
            // Récupération des éléments du DOM
            var dateEnchargeInput = document.getElementById('{{ reservation_form.date_encharge.id_for_label }}');
            var dateDepotInput = document.getElementById('{{ reservation_form.date_endepot.id_for_label }}');
            
            
            var btnCata = document.getElementById('btn-cata');
            btnCata.onclick = function(event) {
                event.preventDefault(); 
                var encharge = dateEnchargeInput.value;
                var depot = dateDepotInput.value;
                var numberJour = (new Date(depot) - new Date(encharge)) / 1000 / 60 / 60 / 24;
                var numberJourInt = Math.round(numberJour);
                console.log("Nombre de jours:", numberJourInt);
                sessionStorage.setItem('dateencharge', encharge);
                sessionStorage.setItem('datedepot', depot);
                sessionStorage.setItem('numberJourInt', numberJourInt);
                window.location.href = "{% url 'catalogue' %}";
            };
        });
          
        window.onload = function() {
            var prix = sessionStorage.getItem('prix');
            var matricule = sessionStorage.getItem('matricule');
            var jours = sessionStorage.getItem('numberJourInt');
            var total = prix * jours;

            var dateEnchargeInput = document.getElementById('{{ reservation_form.date_encharge.id_for_label }}');
            dateEnchargeInput.value = sessionStorage.getItem('dateencharge');

            var dateDepotInput = document.getElementById('{{ reservation_form.date_endepot.id_for_label }}');
            dateDepotInput.value = sessionStorage.getItem('datedepot');

            var total_jour = document.getElementById('{{ reservation_form.totalprix.id_for_label }}');
            total_jour.value = total;

            var input_matricule = document.getElementById('{{ reservation_form.matricule.id_for_label }}');
            input_matricule.value = matricule;
        }
          var validebtn=document.getElementById('validebtn')
          validebtn.onclick=function(){
            localStorage.clear()
          }*/
          
        
          </script>






<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>

</body>
</html>
{% endblock reservation %}