{% extends 'base.html' %}
{% load static %}
{% block reservation %}
<!DOCTYPE html>
<html lang="en">
<head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>login</title>
            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
            
            <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
            <script src="{% static 'js/jquery.min.js' %}"></script>
            
            
            
  
 
   
<body>
  
        
            <h2>Update Profile</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Update</button>
            </form>





<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>






<script src="{% static 'js/main.js' %}"></script>
            
</body>
</html>
{% endblock reservation %}